# 1. Chave do Gemini
GEMINI_API_KEY="AIzaSyDD7AvXP6nve4WpFwbOTYEbB6JdXLdUJ8Q"

# 2. Chave do Groq
GROQ_API_KEY="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"

# 3. Chaves do Firebase (Projeto gen-lang-client)
VITE_FIREBASE_PROJECT_ID="gen-lang-client-0960353492"
VITE_FIREBASE_APP_ID="1:1050486618278:web:5d21e8bbd82036ad0e1c67"
VITE_FIREBASE_API_KEY="AIzaSyDQ1LLs9jFYpI0_7mBTdh6JtUSaQbBwx7E"
VITE_FIREBASE_AUTH_DOMAIN="gen-lang-client-0960353492.firebaseapp.com"
VITE_FIREBASE_STORAGE_BUCKET="gen-lang-client-0960353492.firebasestorage.app"
VITE_FIREBASE_MESSAGING_SENDER_ID="1050486618278"
VITE_FIREBASE_FIRESTORE_DATABASE_ID="ai-studio-4be4c00c-e670-49a7-a4fb-914923608e86"

# APP_URL: URL onde o app está hospedado (Opcional para ambiente local)
APP_URL=""
